@model ContactFormViewModel

<section class="contact-form-section">
    <div class="container">
        <form class="form" asp-action="Index" method="post" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h3 class="form-header">Write something</h3>
            <div class="double-input">
                <div class="flex-input-1">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" id="name">
                    <small><span asp-validation-for="Name" class="text-danger"></span></small>
                </div>
                <div class="flex-input-2">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" id="email">
                    <small><span asp-validation-for="Email" class="text-danger"></span></small>
                </div>
            </div>
            <div class="double-input">
                <div class="flex-input-1">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber">
                </div>
                <div class="flex-input-2">
                    <label asp-for="CompanyName"></label>
                    <input asp-for="CompanyName">
                </div>
            </div>
            <label asp-for="Comment">Write something*</label>
            <textarea asp-for="Comment" rows="3" cols="50"></textarea>
            <label class="checkbox-text" asp-for="RememberMe">
                <input asp-for="RememberMe" type="checkbox" id="checkbox">Save my name, email, and website in this browser for the next time I comment.
            </label>
            <button class="btn-red" type="Submit">Submit</button>
        </form>
    </div>
</section>