@model LoginViewModel

<section class="login-form-section">
    <div class="container">
        <form method="post" class="form" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h3 class="form-header">Please Login to Your Account</h3>
            <div class="email-div">
                <label asp-for="Email"></label>
                <a asp-controller="account" asp-action="register">Don't have an Account yet?</a>
            </div>
            <input asp-for="Email">
            <div class="password-div">
                <label asp-for="Password"></label>
                <a href="#">Forgot Your Password?</a>
            </div>
            <input asp-for="Password">
            <span asp-validation-for="Password" class="error"></span>
            <label asp-for="RememberMe" class="checkbox-text">
                <input type="checkbox" asp-for="RememberMe" id="checkbox">Please keep me logged in
            </label>
            <button class="btn-red" type="submit">Submit</button>
        </form>
    </div>
</section>