<section class="newsletter">
    <div class="container">
        <div class="container-2">
            <div class="subscribe">
                <input type="text" placeholder="Enter your mail here">
                <button class="btn-newsletter btn-red" type="button" title="Subscribe to Newsletter">
                    SUBSCRIBE TO
                    NEWSLETTER
                </button>
            </div>
        </div>
    </div>
</section>