$font-poppins: 'Poppins', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-playfair: 'Playfair Display', sans-serif;

$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-30: 1.875rem;
$font-size-42: 2.625rem;
$font-size-48: 3rem;
$font-size-60: 3.75rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;