.product-details-section {
    margin-top: 5rem;
    color: $color-dark-2;
    .container {
        display: flex;
        gap: 8rem;
        .product-imgs {
            .sm-product-imgs {
                margin-top: 0.5rem;
                display: flex;
                justify-content: space-between;
            }
        }
        .product-details {
            .product-title {
                font-size: $font-size-24;
                font-weight: $font-weight-medium;
            }
            .product-text {
                color: $color-dark-5;
                font-family: $font-roboto;
            }
            .product-rating {
                display: flex;
                text-align: center;
                i {
                    color: $color-star;
                }
                p {
                    margin-left: 1rem;
                    font-family: $font-roboto;
                }
            }
            .price {
                font-weight: $font-weight-semibold;
                font-size: $font-size-24;
            }
            .quantity {
                display: flex;
                height: 3rem;
                button {
                    padding: 1rem;
                    display: flex;
                    align-items: center;
                    border: 1px solid $color-dark-9;
                }
                h5 {
                    display: flex;
                    align-items: center;
                    padding: 1rem;
                    margin: 0;
                }
                .cart {
                    margin-left: 1.5rem;
                    padding: 0 2rem;
                    i {
                        margin-left: 1.5rem;
                    }
                }
            }
            .status {
                margin-top: 1.5rem;
                display: flex;
                .circle {
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    display: inline-block;
                }
                p {
                    margin-left: 2rem;
                }
            }
            .wishlist {
                border: 1px solid $color-dark-9;
                margin-top: 1rem;
            }
            .category {
                margin-top: 2rem;
                color: $color-dark-5;
            }
        }
    }
}