@model GridCollectionViewModel

<section class="top-selling">
    <div class="container-fluid">
        <h2 class="top-selling-header">@Model.Title</h2>
        <div class="grid">
            @foreach (var item in Model.GridCards)
            {
                <partial name="/Views/Partials/_GridCard.cshtml" model="item" />
            }
        </div>
        <div class="next-previous">
            <button class="btn-white"><i class="fa-solid fa-chevron-left"></i></button>
            <button class="btn-white"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
    </div>
</section>

