@model GridCollectionCardViewModel

<a asp-controller="products" asp-action="details" asp-route-id="@Model.Id" class="card-product">
    <img src="@Model.ImageUrl" alt="">
    <div class="body">
        <div class="title">@Model.Title</div>
        <div class="cost">
            <p class="price line-through">@Model.Price</p>
            <i class="tocart fa-regular fa-cart-plus"></i>
        </div>
    </div>
</a>