<header>
    <div class="container">
        <a asp-controller="Home" asp-action="Index" id="logo"><img src="images/placeholders/Logo.svg" alt=""></a>
        @if (signInManager.IsSignedIn(User) && User.IsInRole("admin"))
        {
            <a asp-controller="Admin" asp-action="Index" class="link">Admin</a>
        }
        <nav class="menu-links" id="menu">
            <a class="link" asp-controller="home" asp-action="Index">HOME</a>
            <a class="link" asp-controller="products" asp-action="Index">PRODUCTS</a>
            <a class="link" asp-controller="contact" asp-action="Index">CONTACT</a>
        </nav>
        <nav class="menu-icons">
            <a class="link" asp-controller="product" asp-action="Search"><i class="fa-regular fa-search"></i></a>
            @if (signInManager.IsSignedIn(User))
            {
                <a asp-controller="account" asp-action="Index">@User.Identity?.Name</a>
                <a asp-controller="account" asp-action="index" class="link">@(User.FindFirst("DisplayName")?.Value)</a>
                <a class="link" asp-controller="account" asp-action="LogOut">Logout</a>
            }
            else
            {
                <a class="link" asp-controller="account" asp-action="Register">Register</a>
                <a class="link" asp-controller="account" asp-action="Login">Login</a>
            }
            <a class="link" asp-controller="cart" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i></a>
        </nav>
        <div class="toggle">
            <button class="btn-white btn-outline-white" data-option="toggle" data-target="#menu"><i id="icon" class="fa-regular fa-bars"></i></button>
        </div>
    </div>
</header>

