<section class="page-location">
    <div class="container">
        <h2 class="current-page">CONTACT</h2>
        <div class="page-links"><a asp-controller="home" asp-action="Index" class="page-link">HOME.</a><p class="page-link">CONTACT</p></div>
    </div>
</section>