@model GridCollectionViewModel

<section class="up-to-sale">
    <div class="container">
        <div class="grid-collection">
            

            @if (Model.GridCards != null)
            {
                <div class="grid-collection">
                    @foreach (var item in Model.GridCards)
                    {
                        <partial name="/Views/Partials/_GridCard.cshtml" model="item" />   
                    }
                </div>
            }    
   
            <div class="collection-item collection-content">
                <div class="container">
                    <div class="title-red">UP TO SALE</div>
                    <div class="title">50% OFF</div>
                    <div class="ingress">The Best Price Is Today</div>
                    <div class="text">Get the best daily offer, click on the link below!</div>
                    <a asp-controller="products" asp-action="details" class="link">Discover More</a>
                </div>
            </div>
        </div>
    </div>
</section>
