@{
    ViewData["Title"] = "Access was Denied";
}

<div class="d-flex justify-content-center mt-5">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>You don't have permission to access this page</p>
    </div>
</div>
